.circle-process{
  .process-trail{
    stroke-width: 8;
    fill: none;
    stroke: #0000000a;
  }
  .process-stroke{
    fill: none;
    stroke: #1890ff;
    stroke-width: 8;
    stroke-dasharray: 314.15926;
    //stroke-dashoffset:3;
    stroke-linecap: round;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
    //animation: circle 3s infinite;
    transform:rotate(-90deg);
    transform-origin: center;
    transform-box:fill-box;
  }
  .process-text{
    color: #000000d9;
    font-size: 1em;
    line-height: 1;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    word-break: normal;
  }
}
//@keyframes circle {
//  100%{
//    stroke-dashoffset:0;
//  }
//}
