@import '../../common/style/index.less';

@recycle-breadcrumb-item-prefix:~'@{recycle-prefix}-breadcrumb-item';

.@{recycle-breadcrumb-item-prefix}{
    display: inline-flex;
    &-text{
        border-radius: 4px;
        padding: 0 5px;
        transition: all .2s;
    }
    &>a{
        text-decoration: none;
        color:#6e6e6e;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: rgba(0, 0, 0, .1);
            color: @recycle-ui-black;
        }
    }
    &-separator{
        padding-right: 3px;
        padding-left: 3px;
        display: inline-block;
        color: rgba(0, 0, 0, .45);
    }
    &-no-separator {
        margin-left: 6px;
      }
    &-active {
      color: #6e6e6e;
    }
}