@recycle-prefix:'recycle-ui';

//border-radius
@recycle-radius-xs: 5px;
@recycle-radius-sm: 10px;
@recycle-radius-md: 20px;
@recycle-radius-lg: 50%;
@recycle-radius-circle: 100%;

//font-size
@recycle-font-xs: 10px;
@recycle-font-sm: 12px;
@recycle-font-md: 14px;
@recycle-font-lg: 16px;
@recycle-font-sp: 24px;

//color
@routine: #1890ff;
@danger: #f5222d;
@info:#00b42a;
@warn:#ff7d00;
@recycle-ui-black:#000000d9;
@recycle-ui-white:#fff;
@recycle-success-light-color:#f6ffed;
@recycle-success-dark-color:#b7eb8f;
@recycle-info-light-color:#e6f4ff;
@recycle-info-dark-color:#91caff;
@recycle-warn-light-color:#fffbe6;
@recycle-warn-dark-color:#ffe58f;
@recycle-error-light-color:#fff1f0;
@recycle-error-dark-color:#ffa39e;

*{
    margin: 0;
    padding: 0;
}

