@import '../../common/style/index.less';

@recycle-button-group-prefix:~'@{recycle-prefix}-button-group';
.@{recycle-button-group-prefix}{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    & *{
        margin: 0;
          &:not(:first-child){
          border-left: 1px white solid;
        }
        &>[class~="recycle-ui-button-solid"],[class~="recycle-ui-button-transparent"]{
          border-radius: 0;
        }
    }
}